@charset "UTF-8";
*{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
  body {
               background-color: #f8fbc8;
        }
   #app {
        }
  .vue-html5-editor {
            color: chocolate;
            background-color:   #f8fbc8;
   }
。form{
	width:400px;
	
}
.editor{
	font-size: 1.2rem;
	   min-height: 200px;
    background: #fdfdfd;
    outline: none;
    border: 1px solid #ddd;
    color: #000000;
    border-radius: 10px;
}

.clkb{
	border-radius: 10px;
	 padding: 5px;
    background: #cceef9;
    outline: none;
    color: #271505;
    border: none;
    border-radius: 12px;

}
.buttong{
	    text-align: right;
	        padding-bottom: 2px;
}
.upload{
	position:relative;
}
.file{
	    opacity: 0;
	position: absolute;
    left: 0;
    top: 14px;
}
.imglist{
	padding-left: 40px;
	list-style-type: none;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.img-item img{
	width: 100px;
    height: 150px;
}
.video{
	width: 100px;
    height: 150px;
}
.imgs{
	margin-top: -40px;
}
.bottom{
	margin: 0 auto;
	display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    position: fixed;
    right: 0;
    left: 0;
    max-width: 1200px;
    background: #cceef9;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}
.wlink{
    text-decoration: none;
    background: #cceef9;
    color: #0c0c0c;
    padding: 4px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 0.9rem;
}
.container{
	    padding: 10px 0px;
}
.container span{
	    background: #ffe1df;
}
.choose:nth-child(n+1){
	margin-left:5px;
}
.choose:hover{
	cursor:pointer;
}
.selected{
	    font-size: 1.1rem;
	   color: red;
}

