.left{
	max-width: 200px;
    border: 1px solid #b5b5b0;
    border-radius: 2px;
}
.setting-input{
	max-width: 50px;
}
.cln{
	text-align: center;
}
.title{
	    border-bottom: 1px solid #a29494;
}
.operator{
	    display: flex;
}