#alert{
     display: flex;
    opacity: 0;
    justify-content: center;
    width: auto;
    align-items: center;
    color: #271505;
    background: #cceef9;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    top: 50%;
}
.show{
animation: myfirst 1.5s;
}
.hid{
opacity:0;
}
@keyframes myfirst
{
from {opacity: 0;}
to {opacity: 1;}
}